version: "2"
services:
  api:
    image: 3dwardsharp/ecotopia-today-mapseed
    # build: ./
    restart: always
    env_file: .env
    expose:
      - 8010
    depends_on:
      - pg
    volumes:
      - ./local_settings.py:/api/src/project/local_settings.py
      - /home/core/api_static:/api/static
  web:
    image: 3dwardsharp/nginx-certbot
    restart: always
    volumes:
      - /home/core/letsencrypt:/etc/letsencrypt
      - ./nginx.template:/etc/nginx/conf.d/nginx.template
      - /home/core/www:/mississippi
      - /home/core/api_static:/api/static
    ports:
      - "80:80"
      - "443:443"
    environment:
      - BASE_SERVER=mississippi.ecotopia.today
      - ADMIN_SERVER=api.ecotopia.today
      - DOMAINS=mississippi.ecotopia.today,api.ecotopia.today
      - EMAIL=bhcontinentaldrift@gmail.com
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/nginx.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
  pg:
    image: mdillon/postgis:9.6-alpine
    restart: always
    env_file: .env
    expose:
      - "5432"
    volumes:
      - /home/core/pgdata:/var/lib/postgresql/data